.todo-list-item button {
	width: 35px;
}

.todo-list-item .important {
	font-weight: bold;
	color: #007bff;
}

.todo-list-item .done {
	text-decoration: line-through;
}
.todo-list-item .task {
	cursor: pointer;
	margin: 0;
	margin-right: 1rem;
	flex-grow: 1;
	word-break: break-all;
}

.todo-list-item .buttons {
	flex-wrap: nowrap;
}
