/* .todo-list-item {
	outline: 2px solid red;
} */

.todo-list-item button {
	width: 35px;
}

.todo-list-item p {
	margin: 0;
}

.todo-list-item .important {
	font-weight: bold;
	color: #007bff;
}

.todo-list-item .linethrough {
	text-decoration: line-through;
}
